@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --colorText1: #FBFBFB;
    --colorText2: #003344;
    --color1:#D4F6FF;
    --color2: #C6E7FF;
    --font1: "Playfair Display", serif;
    --font2: "Dancing Script", serif;
}
body{
    margin:0;
    background-color: var(--color1);
}
body *{
    font-family: var(--font1);
    color: var(--colorText2);
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.inner_wrap{
    display: flex;
    width:100%;
}
a{
    text-decoration: none;
}
p{
    font-size: 20px;
}
ul{
    list-style-type: none;
}
.btn{
    font-size:22px;
    text-wrap: nowrap;
    border-radius: 45px;
    background-color: #d48d8d;
    border:none;
    color:white;
    padding: 10px;
    width:fit-content;
    box-shadow: 0px 5px 15px rgba(255, 126, 179, 0.4);
    transition: 0.3s;
}
.btn:hover{
    background: #a34967;
    box-shadow: 0px 8px 20px rgba(255, 81, 138, 0.5);
}